@tailwind base;
@tailwind components;
@tailwind utilities;








/*========================================================================
 *!                       PAGINA PRINCIPAL [INDEX]
 *========================================================================**/
header{
    width: 100%;
    height: 70px;
    background-color: rgb(3, 3, 3);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    z-index: 1000;
}

main{
    z-index: 10;

}

/* LOGO DEL LOGIN */
.logo-login{
    width: 30%;
    height: 30%;
}

/* INFORMACIONES FOOTER */
.infos-footer{
    background-color: rgb(59, 59, 59);
    height: 100px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.fondoimg{
  background-image: url('/image/acogida.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.fondoperros{
  background-image: url('/image/perro.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}



/*?============================================ FILTRO ========================================================= */

/* SHADOW DE LA BARRA DEL FILTRO [BARRA VERDE] */
.barra-lateral{
    min-height: 1000px;
    height: 100%;
    -webkit-box-shadow: 0px 0px 47px -1px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 47px -1px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 47px -1px rgba(0,0,0,0.45);
}



:root {
  --progressW: 50%;
}
label {
  display: block;
  vertical-align: baseline;
}

[type=range] {
    
  width: calc(100% - 50px);
  vertical-align: middle;
  border: none;
  outline: none;

}



.filter-container input[type="checkbox"] { display: none; }

.filter-container input[type="checkbox"] + label {
  display: block;
  font-size: 20px;

  position: relative;
  margin-bottom: 20px;
  color: white;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}


/* CHEKBOX DEL FILTRO */
.filter-container input[type="checkbox"] + label:last-child { margin-bottom: 0; }

.filter-container input[type="checkbox"] + label:before {
  content: '';
  margin-top: 6px;
  margin-left:15%;
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

.filter-container input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*? ======================= FIN FILTRO ============================= */
/*? ============================================================== */



/* SHADOW DE LA PAGINA BLANCA [PRINCIPAL] */
.pg-principal{
	min-height: 1080px;
    -moz-box-shadow: 0px 0px 47px -1px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 47px -1px rgba(0,0,0,0.45);

}

/* BARRA NEGRA DEL FOOTER */
.bar{
    width: 100%;
    height: 40px;
    background-color: black;
    z-index: 100;
}

/* CONTAINER DEL MODAL LOGIN */
.contanier-login, .contanier-login-admin, .contanier-contacto{
    display: none;
    -moz-box-shadow: 0px 0px 55px -1px rgba(0, 0, 0, 0.76);
    box-shadow: 0px 0px 55px -1px rgba(0,0,0,0.76);
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%,-50%);
    z-index: 100;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

/* CONTAINER DEL MODAL ADOPTAR */
 .contanier-contacto, #modal-borrar-perro , #modal-borrar-protectora{
    display: none;
    position: fixed;
    left: 50%;
    top: 70%;
    transform: translate(-50%,-50%);
    z-index: 100;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}





/* BOTON VOLVER AL TOPO */
#btn-back-to-top {
  position: fixed;
  display: none;
}




/*========================================================================
 *!                       PAGINA PROTECTORAS["ADM"]
 *========================================================================**/



/* CONTAINER MODAL NUEVO PERRO */
.container-nuevoPerro{
  overflow-x: hidden;
  display: none;
  -moz-box-shadow: 0px 0px 55px -1px rgba(0, 0, 0, 0.76);
  box-shadow: 0px 0px 55px -1px rgba(0,0,0,0.76);
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  z-index: 100;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

/* CONTAINER MODAL EDITAR PERRO */
.contanier-editarPerro{
  overflow-x: hidden;
  display: none;
  -moz-box-shadow: 0px 0px 55px -1px rgba(0, 0, 0, 0.76);
  box-shadow: 0px 0px 55px -1px rgba(0,0,0,0.76);
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  z-index: 100;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}


/*?============= CONTAINER DEL MODAL NUEVO PERRO - EDITAR PERRO ===================== */
.container-caracter{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-caracter ul.ks-cboxtags {
    list-style: none;
    padding: 10px 20px;

}
.container-caracter ul.ks-cboxtags li{
  display: inline;
}
.container-caracter ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(53, 53, 53, 0.3);
    color: #505050;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
    margin-bottom: 20px;
  margin-right: 5px;
}

.container-caracter ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

.container-caracter ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

.container-caracter ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

.container-caracter ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid #1bdbf8;
    background-color: #12bbd4;
    color: #fff;
    transition: all .2s;
}

.container-caracter ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
.container-caracter ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

/*? ===================   FIN CONTAINER DEL MODAL NUEVO PERRO    ============================  */
/*? =========================================================================================  */



.modal-confirm-del{
  -moz-box-shadow: 0px 0px 55px -1px rgba(0, 0, 0, 0.76);
  box-shadow: 0px 0px 55px -1px rgba(0,0,0,0.76);
}

/* MODAL CONFIMAR CANBIOS - EDITAR PERROS */
.confirmar-cambios{
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
}

/* IMAGEN - EDITAR INFORMACIONES DE CONTACTO PROTECTORA */
.image-info-contato{
  -moz-box-shadow: 0px 0px 5px -1px rgba(55, 65, 81);
  box-shadow: 0px 0px 5px -1px rgba(55, 65, 81);

}


.iconos-masc-fem{
  background-image: url('/Reubica/image/asdds-removebg-preview.png');
  background-position: center;
  background-size: contain;
  transform: scale(0.6);
}


.infos{

  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

/* 
.icon-sexo{
  background-image: url('/image/sexo.png');
  background-size: contain;
  background-position: center;
} */

.icon-ciudad{
  background-image: url('/Reubica/image/ciudad.png');
  background-size: contain;
  background-position: center;
}

.icon-protectora{
  background-image: url('/Reubica/image/protectora.png');
  background-size: contain;
  background-position: center;
}

.icon-acogida{
  background-image: url('/Reubica/image/acogida.png');
  background-size: contain;
  background-position: center;
}













section::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#DA22FF, #9733EE);
	clip-path: circle(30% at right 70%);
}

section::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#E55D87, #5FC3E4);
	clip-path: circle(20% at 10% 10%);
}

.card,.img-protect {
	backdrop-filter: blur(10px);
  box-shadow: 0px 4px 22px -3px rgba(0,0,0,0.5);
}

.card .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.card:hover .content {
	transform: translateY(-10px);
}

.card .content .imgBx {
	position: relative;
	width: 150px;
	height: 150px;
	overflow: hidden;
}

.card .content .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card .content .contentBx h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

.card .content .contentBx h3 span {
	font-size: 12px;
	font-weight: 300;
	text-transform: initial;
}

.card .sci {
	position: absolute;
	bottom: 120px;
	display: flex;
}

.card .sci li {
	list-style: none;
	margin: 0 10px;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
}

.card:hover .sci li {
	transform: translateY(0px);
	opacity: 1;
}

.card .sci li a {
	color: #fff;
	font-size: 20px;
}








.inputDiv {
  position: relative;
}

input[type='range'] {
  display: block;
  width: 80%;
}

input[type='range']:focus {
  outline: none;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  background-color: #29fa76;
  width: 20px;
  height: 20px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 50%;
  margin-top: -9px;
}

input[type=range]::-moz-range-thumb {
  background-color: #777;
  width: 15px;
  height: 15px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 50%;
}

input[type=range]::-ms-thumb {
  background-color: #777;
  width: 20px;
  height: 20px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 50%;
}

input[type=range]::-webkit-slider-runnable-track {

  height: 3px;
}



input[type=range]:focus::-webkit-slider-runnable-track {
  outline: none;
}

input[type=range]::-moz-range-track {
  background-color: rgb(255, 0, 0);
  height: 1px;

}

input[type=range]::-ms-track {

  border-radius: 50%;
  height: 3px;
}

input[type=range]::-ms-fill-lower {
  background-color: HotPink
}

input[type=range]::-ms-fill-upper {
  background-color: black;
} 


.patas{
  background-image: url("../image/patas.png");
  background-size: contain;
}

   




/*?============= CARACTER PERROS - [VER MAS] ===================== */
.container-caracter-vm{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-caracter-vm ul.ks-cboxtags {
    list-style: none;
    padding: 10px 20px;

}
.container-caracter-vm ul.ks-cboxtags li{
  display: inline;
}
.container-caracter-vm ul.ks-cboxtags li label{
    display: inline-block;
    border: 2px solid #1bdbf8;
    background-color: #12bbd4;
    color: #fff;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
    margin-bottom: 20px;
  margin-right: 5px;
}

.container-caracter-vm ul.ks-cboxtags li label {
    padding: 8px 12px;
}

.container-caracter-vm ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    transition: transform .3s ease-in-out;
}





/*?============= BTN ADOPTAR  ===================== */

.btn-adoptar .wrap {
  height: 100%;
  display: flex;
  justify-content:flex-end;
  align-items: center;

}

.btn-adoptar .button {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: white;
  background: #4FD1C5;
background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 10px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

.btn-adoptar button::before {
content: '';
  border-radius: 20px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.btn-adoptar .button:hover, .button:focus {

  transform: translateY(-6px);
}

.btn-adoptar button:hover::before, button:focus::before {
  opacity: 1;
}


.btn-adoptar button:hover::after, button:focus::after {
  animation: none;
  display: none;
}



.aviso-cookies {
	display: none;
	background: #fff;
	padding: 20px;
	width: calc(100% - 40px);
	max-width: 300px;
	line-height: 150%;
	border-radius: 10px;
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 100;
	padding-top: 60px;
	box-shadow: 0px 2px 20px 10px rgba(222,222,222,.25);
	text-align: center;
}

.aviso-cookies.activo {
	display: block;
}

.aviso-cookies .galleta {
	max-width: 100px;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

.aviso-cookies .titulo,
.aviso-cookies .parrafo {
	margin-bottom: 15px;
}

.aviso-cookies .boton {
	width: 100%;
	background: #595959;
	border: none;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding: 15px 20px;
	font-weight: 700;
	cursor: pointer;
	transition: .3s ease all;
	border-radius: 5px;
	margin-bottom: 15px;
	font-size: 14px;
}

.aviso-cookies .boton:hover {
	background: #000;
}

.aviso-cookies .enlace {
	color: #4DBFFF;
	text-decoration: none;
	font-size: 14px;
}

.aviso-cookies .enlace:hover {
	text-decoration: underline;
}

.fondo-aviso-cookies {
	display: none;
	background: rgba(0,0,0,.20);
	position: fixed;
	z-index: 99;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

.fondo-aviso-cookies.activo {
	display: block;
}



.cookies-main{
  margin: 20px auto;
	max-width: 1000px;
	background: #fff;
	min-height: 80vh;
	padding: 20px;
	border-radius: 10px;
}

.cookies-main p{
  margin-bottom: 20px;
	line-height: 150%;
}

.cookies-body{
  background: #bdbdbdc5;
	font-family: 'Roboto', sans-serif;
}

.sesion-principal{
	width: 1536px;
	margin: 0 auto;
}


.btn-filter{
	transition: all 500ms;
	display:none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.sombra{
  box-shadow: 0px 0px 14px -3px rgba(0,0,0,0.4);
}







.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: white;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}











































@media screen and (max-width: 1536px) {
	.sesion-principal{
		width:100%;
	}

}

@media screen and (max-width: 1200px) {
	.filter-container input[type="checkbox"] + label:before {

	  margin-left:5%;

	}

}



@media screen and (max-width: 1024px) {

	.btn-filter{
		display:block;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
	.change-filter{
		display:none;
		padding: 0 15%;
	}
	
	.diminuir-pd{
    padding: 0 35% ;
	}
	
	.filter-container input[type="checkbox"] + label:before {

	  margin-left: -10px;

	}
	
}

@media screen and (max-width: 550px) {

	.filter-container input[type="checkbox"] + label:before {

	  margin-left: -20px;

	}
}




