<!--*=============================== HEAD =============================-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="shortcut icon" th:href="@{/image/2.png}">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Reubica</title>

		<!--TODO STYLE CSS [TAILWIND]  -->
		<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />

	</head>


	<!--*=============================== BODY =============================-->
	<body>


		<!--? HEADER  -->
		<header>
			<!--?================= NAV HEADER ================-->
			<nav
				class="grid grid-cols-5 items-center relative justify-between flex-wrap
				bg-black">
				<!-- LOGO -->
				<div
					class="h-[70px] md:w-[60%] w-[100%] lg:w-[70%] grid content-center
					col-span-2 lg:col-span-1">
					<img class="w-[80%] mx-auto m-auto" th:src="@{/image/logo.png}"
						alt="Workflow" />
				</div>

				<!-- PAGES NAME --->
				<div
					class="lg:flex hidden col-span-3 text-lg lg:flex-grow flex
					justify-evenly px-10">
					<a th:href="@{/}"
						class="block mt-4 text-xl lg:inline-block lg:mt-0 text-white
						hover:text-green-200">
						Inicio </a> <a th:href="@{/protectora}"
						class="block mt-4 text-xl lg:inline-block lg:mt-0 text-white
						hover:text-green-200">
						Protectoras </a> <a th:href="@{/faq}"
						class="block mt-4 text-xl lg:inline-block lg:mt-0 text-white
						hover:text-green-200">
						FAQ </a> <a th:href="@{/porque-adoptar}"
						class="block mt-4 text-xl lg:inline-block lg:mt-0 text-white
						hover:text-green-200">
						Porque adoptar? </a>
				</div>

				<!-- BUTTON INICIAR SESION --->
				<div class="col-start-5">
					<div class="hidden lg:block">
						<a onclick="iniciarSesion()"
							class="grid lg:block content-center text-xl text-center text-white
							hover:text-green-200 iniciarSesion">
							Iniciar sesión </a>

						<!-- ICONO PARA DIRECCIONAR A LA PAGINA [CONFIG PROTECTORA]-->
						<div class="sesionIniciada hidden hola col-start-5">
							<a th:href="@{/administrar/protectoras}" id="nickNameHeader"
								class="block mt-4 text-xl lg:inline-block lg:mt-0 text-white">
								Hola <span id="nickName"
									class="pl-1 hover:text-green-200 text-green-400">Admin</span>
							</a>

							<div onclick="logOut()" id="logOut"
								class="block mt-4 text-xl lg:inline-block cursor-pointer lg:mt-0
								text-white
								hover:text-green-200">
								<i class="pl-8 fa-solid fa-arrow-right-from-bracket"></i>
							</div>
						</div>
					</div>

					<div class="lg:hidden flex justify-end mr-3">

						<button class="menu"onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded',
							this.classList.contains('opened')),navToggle()" aria-label="Main Menu">
							<svg width="50" height="50" viewBox="0 0 100 100">
								<path class="line line1" d="M 20,29.000046 H 80.000231 C
									80.000231,29.000046 94.498839,28.817352 94.532987,66.711331
									94.543142,77.980673 90.966081,81.670246 85.259173,81.668997
									79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L
									25.000021,25.000058" />
									<path class="line line2" d="M 20,50 H 80" />
										<path class="line line3" d="M 20,70.999954 H 80.000231 C
											80.000231,70.999954 94.498839,71.182648 94.532987,33.288669
											94.543142,22.019327 90.966081,18.329754 85.259173,18.331003
											79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L
											25.000021,74.999942" />
										</svg>
									</button>
								</div>
							</div>

							<!--?================= NAV HEADER [TELEFONO] ================-->

							<div
								class="hidden nav-telefono w-[25vh] rounded-b-lg right-0 top-[50px]
								m-auto bg-black z-50 text-center text-white absolute mt-[20px] grid
								grid-rows-2">
								<a th:href="@{/}"
									class="block p-4 text-xl grid content-center hover:bg-gray-800
									lg:inline-block text-white hover:text-green-200">
									Inicio </a> <a th:href="@{/protectora}"
									class="block p-4 text-xl grid content-center hover:bg-gray-800
									text-white hover:text-green-200">
									Protectoras </a> <a th:href="@{/faq}"
									class="block p-4 text-xl grid content-center hover:bg-gray-800
									lg:inline-block text-white hover:text-green-200">
									FAQ </a> <a th:href="@{/porque-adoptar}"
									class="block p-4 text-xl grid content-center hover:bg-gray-800
									lg:inline-block text-white hover:text-green-200">
									Porque adoptar? </a>
								<div onclick="iniciarSesion()"
									class="block op-iniciar cursor-pointer p-4 text-xl rounded-b-lg
									bg-green-500
									grid hover:bg-green-400 content-center lg:inline-block text-white
									hover:text-green-200">
									Iniciar sesión</div>
								<!-- ICONO PARA DIRECCIONAR A LA PAGINA [CONFIG PROTECTORA]-->
								<div class="sesionIniciada hidden">
									<a th:href="@{/administrar/protectoras}" id="nickNameHeader"
										class="block p-4 text-xl grid content-center bg-gray-700
										hover:bg-gray-500 text-green-500">
										Admin </a>
								</div>
								<!-- ICONO PARA DIRECCIONAR A LA PAGINA [CONFIG PROTECTORA]-->
								<div
									class="sesionIniciada hidden bg-green-500 hover:bg-green-400
									rounded-b-lg">
									<a onclick="logOut()" id="logOut"
										class="block cursor-pointer p-4 text-xl over:bg-gray-800 grid
										content-center text-white
										hover:text-green-200">
										<i class="fa-solid fa-arrow-right-from-bracket"></i>
									</a>
								</div>
							</div>
						</nav>
						<!-- FIM NAV -->
					</header>
					<!-- FIM HEADER -->




					<!--*=============================== MODAL LOGIN =============================-->
					<!--? MODAL LOGIN -->
					<div
						class="contanier-login flex items-center 2xl:w-2/6 2xl:py-32
						justify-center
						px-4 sm:px-6 lg:px-8 bg-green-400">
						<!-- CONTAINER LOGIN -->
						<div class="max-w-md m-auto w-full space-y-8">
							<!-- IMG LOGO -->
							<div class="bg-imagen w-full">
								<img class="logo-login mt-4 mx-auto h-150 w-auto"
									th:src="@{/image/2.png}" alt="Workflow" />
							</div>
							<!-- TITULO -->
							<h2 class="text-center text-3xl font-extrabold text-gray-900">
								Eres una protectora? ¡Haga el login aquí!</h2>

							<!--? FORMULARIO DE LOGIN -->
							<form class="mt-8 space-y-6" th:action="@{/validacion/login}"
								modelAttribute="users" enctype="application/json" method="POST">
								<input type="hidden" name="remember" value="true" />
								<div class="rounded-md shadow-sm -space-y-px">
									<div>
										<!-- INPUT EMAIL -->
										<label for="email-address" class="sr-only">Correo
											eletrónico</label> <input id="email-address" name="username"
											type="email"
											autocomplete="email" required
											class="appearance-none rounded-none relative block w-full px-3 py-2
											border border-gray-300 placeholder-gray-500 text-gray-900
											rounded-t-md
											focus:outline-none focus:ring-indigo-500 focus:border-indigo-500
											focus:z-10 sm:text-sm"
											placeholder="Correo eletrónico" />
									</div>
									<div>
										<!-- INPUT CONTRASEÑA -->
										<label for="password" class="sr-only">Contraseña</label> <input
											id="password" name="password" type="password"
											autocomplete="current-password" required
											class="appearance-none rounded-none relative block w-full px-3 py-2
											border border-gray-300 placeholder-gray-500 text-gray-900
											rounded-b-md
											focus:outline-none focus:ring-indigo-500 focus:border-indigo-500
											focus:z-10 sm:text-sm"
											placeholder="Contraseña" />
									</div>
								</div>
								<div>
									<!-- BUTTON LOGIN -->
									<button onclick="conectadoLogin()" type="submit"
										class="group relative w-full flex justify-center mb-5 py-2 px-4 border
										border-transparent text-sm font-medium rounded-md text-white bg-black
										hover:bg-white hover:text-black focus:outline-none focus:ring-2
										focus:ring-offset-2 focus:ring-indigo-500">
										<span class="absolute left-0 inset-y-0 flex items-center pl-3">
											<svg class="h-5 w-5 text-white group-hover:text-black"
												xmlns:th="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
												fill="currentColor" aria-hidden="true">
												<path fill-rule="evenodd"
													d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0
													01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
													clip-rule="evenodd" />
												</svg>
											</span> Login
										</button>
									</div>
								</form>
								<!-- FIN FORM LOGIN -->
							</div>
							<!-- FIN CONTAINER LOGIN -->
						</div>
						<!-- FIN MODAL LOGIN -->




						<!--*=============================== MAIN + IMG PROTECTORA [BARRA LATERAL] =============================-->
						<!--? SESION PRINCIPAL  -->
						<main>

							<!--? CONTAINER PAGINA PRINCIPAL W-100%  -->
							<div class="container mx-auto text-center">

								<!--! GRID PARA SEPARAR    [ BARRA LATERAL  |  TABLA DE PERROS] -->
								<div class="grid grid-cols-12 grid-rows-1">

									<!--?  BARRA LATERAL   -->
									<div
										class="patas bg-green-400 col-span-12 xl:col-span-2 py-10 p-2
										lg:pt-20">
										<div class="">

											<div class="img-admin ">
												<!-- IMAGEN PROTECTORA -->
												<img
													class="h-40 w-40  mb-5 rounded-full mx-auto object-cover"
													th:src="@{/image/2.png}" />

												<!--  TITULO - NOMBRE DE LA PROTECTORA -->
												<div class="text-2xl xl:mt-8 mt-4 font-bold text-gray-700">Administrador</div>
											</div>

											<div class="opciones">
												<!-- OPCIONES DEL PANEL DE PROTECTORAS -->
												<h1
													class="hidden xl:block xl:mt-20 mt-5 col-span-3 text-xl
													text-gray-700 pb-2 border-y-2 border-green-200">Opciones</h1>

												<!-- LISTADO DE OPCIONES -->
												<ul
													class="left-list xl:mt-12 mt-4 grid grid-cols-2 xl:grid-cols-1">
													<!-- OPCION [EDITAR O CREAR PERROS] -->
													<li class="xl:mt-8 mx-4 xl:mx-0"><a
															th:href="@{/administrar/perros}" id="perros-protectora"
															class="text-2xl block bg-green-400 hover:bg-[#70d68fec] py-2
															sombra w-full font-bold text-white">Perros</a>
													</li>
													<!-- OPCION [EDITAR INFOS DE CONTACTO] -->
													<li class="xl:mt-8 mx-4 xl:mx-0"><a
															th:href="@{/administrar/protectoras}" id="protectora-infos"
															class="text-2xl block bg-green-400 hover:bg-[#70d68fec] py-2
															sombra w-full font-bold text-white">Protectoras</a>
													</li>
												</ul>

											</div>


										</div>
										<!-- fin grid -->
									</div>
									<!-- FIN BARRA LATERAL -->



									<!-- CONTAINER PAGINA EN BLANCO -->
									<div
										class="pg-principal bg-white col-span-12 xl:col-span-10 py-20 px-10">
										<!--? CONTAINER OPTIONS PERROS -->
										<div class="container-options-perros">
											<!-- CONTAINER DEL FORMULARIO NUEVO PERRO -->
											<div class="px-[10%] xl:px-32">
												<!-- FORMULARIO NUEVO PERRO -->
												<form th:action="@{/enviarnuevoperro}" th:object="${perro}"
													method="POST" enctype="multipart/form-data">
													<div class="flex space-x-2 justify-end">
														<a th:href="@{/administrar/perros}" type="button"
															data-mdb-ripple="true" data-mdb-ripple-color="light"
															class="inline-block px-6 py-2.5 bg-green-500 text-white
															font-medium text-xs leading-tight uppercase rounded shadow-md
															hover:bg-green-700 hover:shadow-lg focus:shadow-lg
															focus:outline-none focus:ring-0 active:shadow-lg transition
															duration-150 ease-in-out">Volver
														</a>
													</div>
													<!-- TITULO -->
													<label
														class="text-gray-700 font-bold text-center xl:text-left w-full
														text-shadow-md mx-auto text-5xl mb-5"
														for="form-perro">Nuevo perro</label>
													<!-- GRID PARA EL FORMULARIO -->
													<div class="form-perro grid-cols-2 gap-6 mb-6">
														<!-- INPUT IMAGE PERRO -->
														<div class="mt-20 ">
															<img
																class="trasicion  mb-5 h-40 sombra fondoperros  w-40 bg-[#fff0]
																mx-auto object-cover"
																id="thumbnail" alt="">
														</div>
														<!-- INPUT BOTON PARA SELECCIONAR IMAGEN -->
														<div class="row-span-2">
															<div class="form-group ">

																<input type="file" name="fileImage" id="fileImage"
																	accept="image/png, image/jpeg, image/jpg" required>
																<br>

															</div>

														</div>
														<!-- INPUT NOMBRE -->
														<div>
															<label for="nombre-perro-form col-span-1"
																class="block mb-2 text-lg font-medium text-gray-700 text-left
																dark:text-gray-300">Nombre</label>
															<input type="text" id="nombre_perro-form" th:field="*{nombre}"
																class="bg-gray-50 border shadow-md text-black text-lg rounded-lg
																focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
																dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
																dark:text-white dark:focus:ring-blue-500
																dark:focus:border-blue-500"
																placeholder="Choco" required>
														</div>

														<!-- INPUT FECHA DE NACIMIENTO -->
														<div>
															<label for="fecha-nacimiento-form col-span-1"
																class="mt-5 block mb-2 text-lg font-medium text-gray-700
																text-left dark:text-gray-300">Edad
																(Años)</label> <input th:field="*{edad}" type="number"
																id="fecha-nacimiento"
																class="bg-gray-50 border shadow-md border-gray-300 text-black
																text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500
																block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
																dark:placeholder-gray-400 dark:text-white
																dark:focus:ring-blue-500 dark:focus:border-blue-500"
																placeholder="10" required>
														</div>
														<!-- INPUT FECHA DE IDPROTECTORA -->
														<div>
															<label for="fecha-nacimiento-form col-span-1"
																class="mt-5 block mb-2 text-lg font-medium text-gray-700
																text-left dark:text-gray-300">
																Id Protectora</label> <input
																th:field="*{protectora_idprotectora}"
																type="number" id="fecha-nacimiento"
																class="bg-gray-50 border shadow-md border-gray-300 text-black
																text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500
																block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
																dark:placeholder-gray-400 dark:text-white
																dark:focus:ring-blue-500 dark:focus:border-blue-500"
																placeholder="10" required>
														</div>
														<!-- INPUT SEXO -->
														<div>
															<label for="sexo-form col-span-1"
																class="mt-5 block mb-2 text-lg font-medium text-gray-700
																text-left dark:text-gray-300">Sexo</label>
															<select th:field="*{sexo}"
																class="col-span-3 border text-black shadow-md bg-white
																rounded-lg px-3 py-2 outline-none w-full"
																required>
																<option th:value="'Macho'" th:text="Macho"></option>
																<option th:value="'Hembra'" th:text="Hembra"></option>



															</select>
														</div>
														<!-- INPUT TAMAÑO -->
														<div>
															<label for="sexo-form col-span-1"
																class="block mb-2 text-lg font-medium text-gray-700 text-left
																dark:text-gray-300">Tamaño</label>
															<select th:field="*{tamano}"
																class="mt-5 col-span-3 border shadow-md text-black bg-white
																rounded-lg px-3 py-2 outline-none w-full"
																required>
																<option th:value="'Pequeño'" th:text="Pequeño"></option>
																<option th:value="'Mediano'" th:text="Mediano"></option>
																<option th:value="'Grande'" th:text="Grande"></option>
															</select>
														</div>

													</div>
													<!-- INPU CARACTER PERROS -->
													<div class="container-caracter w-full">
														<label for="caracter-form"
															class="mt-5 block mb-2 text-lg font-medium text-gray-700
															text-left dark:text-gray-300">Caracter</label>
														<ul id="caracter-form" class="ks-cboxtags w-full text-left">
															<li><input type="checkbox" id="checkboxOne"
																	value="Rainbow Dash"><label for="checkboxOne">Bueno
																	con otros perros</label></li>
															<li><input type="checkbox" id="checkboxTwo"
																	value="Cotton Candy"><label for="checkboxTwo">Me
																	gusta estar en compañía</label></li>
															<li><input type="checkbox" id="checkboxThree"
																	value="Rarity"><label for="checkboxThree">Bueno
																	con niños</label></li>
															<li><input type="checkbox" id="checkboxFour"
																	value="Moondancer"><label for="checkboxFour">Amigable
																	con extraños</label></li>
															<li><input type="checkbox" id="checkboxFive"
																	value="Surprise"><label for="checkboxFive">Bueno
																	en el coche</label></li>
															<li><input type="checkbox" id="checkboxSix"
																	value="Twilight Sparkle"><label for="checkboxSix">Escapista</label></li>
															<li><input type="checkbox" id="checkboxSeven"
																	value="Fluttershy"><label for="checkboxSeven">Me
																	gusta pasear</label></li>
															<li><input type="checkbox" id="checkboxEight"
																	value="Derpy Hooves"><label for="checkboxEight">Me
																	gusta estar en compañía</label></li>
															<li><input type="checkbox" id="checkboxNine"
																	value="Princess Celestia"><label for="checkboxNine">Cariñoso</label></li>
															<li><input type="checkbox" id="checkboxTen" value="Gusty"><label
																	for="checkboxTen">Juguetón</label></li>
															<li class="ks-selected"><input type="checkbox"
																	id="checkboxEleven" value="Discord"><label
																	for="checkboxEleven">Dormilón</label></li>
															<li><input type="checkbox" id="checkboxTwelve"
																	value="Clover"><label for="checkboxTwelve">Bueno
																	en el coche</label></li>
															<li><input type="checkbox" id="checkboxThirteen"
																	value="Baby Moondancer"><label for="checkboxThirteen">Tímido</label></li>
															<li><input type="checkbox" id="checkboxFourteen"
																	value="Medley"><label for="checkboxFourteen">Escapista</label></li>
															<li><input type="checkbox" id="checkboxFifteen"
																	value="Firefly"><label for="checkboxFifteen">Amigable
																	con extraños</label></li>
														</ul>
													</div>
													<!-- INPUT DESCRIPCION DEL PERRO -->
													<label for="text1"
														class="mt-5 block mb-2 text-lg font-medium text-gray-700 text-left
														dark:text-gray-300">Descripción</label>
													<div class="flex justify-center">
														<div class="mb-3 w-full">

															<textarea th:field="*{descripcion}"
																class="form-control shadow-md block w-full px-3 py-1.5 text-base
																font-normal text-gray-700 bg-white bg-clip-padding border
																border-solid border-gray-300 rounded transition ease-in-out m-0
																focus:text-gray-700 focus:bg-white focus:border-blue-600
																focus:outline-none"id="text1" rows="3" placeholder="Descripción
																del perro"></textarea>
														</div>
													</div>


													<!-- BOTON CONFIRMAR  -->
													<div class="w-full grid justify-end">
														<button data-mdb-ripple="true" data-mdb-ripple-color="light"
															class="inline-block px-6 py-2.5 bg-green-500 text-white
															font-medium mt-12 text-xs leading-tight uppercase rounded
															shadow-md hover:bg-green-700 hover:shadow-lg focus:shadow-lg
															focus:outline-none focus:ring-0 active:shadow-lg transition
															duration-150 ease-in-out">Crear
														</button>
													</div>

												</form>
												<!-- FIN FORMULARIO CREAR PERRO -->
											</div>
											<!--  FIN CONTAINER DEL FORMULARIO NUEVO PERRO -->

											<!--? BUTTON VOLVER AL TOPO -->
											<button type="submit" data-mdb-ripple="true"
												data-mdb-ripple-color="light"
												class="inline-block p-3 bg-green-400 text-white hover:bg-green-600
												font-medium text-xs leading-tight uppercase rounded-full
												active:shadow-lg transition duration-150 ease-in-out bottom-5
												right-5"
												id="btn-back-to-top">
												<svg aria-hidden="true" focusable="false" data-prefix="fas"
													class="w-4 h-4" role="img" xmlns="http://www.w3.org/2000/svg"
													viewBox="0 0 448 512">
													<path fill="currentColor"
														d="M34.9 289.5l-22.2-22.2c-9.4-9.4-9.4-24.6 0-33.9L207 39c9.4-9.4
														24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9L413 289.4c-9.5
														9.5-25 9.3-34.3-.4L264 168.6V456c0 13.3-10.7 24-24 24h-32c-13.3
														0-24-10.7-24-24V168.6L69.2 289.1c-9.3 9.8-24.8 10-34.3.4z"></path></svg>
											</button>


										</div>
										<!--FIN PAGINA - TABLA DE PERROS -->
									</div>
									<!-- FIN GRID PARA SEPARAR    [ BARRA LATERAL  |  TABLA DE PERROS] -->
								</div>
								<!-- FIN CONTAINER PAGINA PRINCIPAL W-100%  -->
							</div>
						</main>
						<!-- FIN SESION PRINCIPAL  -->
						<!--*=============================== FOOTER =============================-->
						<!-- RAIA GRIS -->
						<footer class="text-center bg-gray-900 text-white">
							<div class="py-3">
								<div class="flex justify-center mb-1">
									<a href="#!" type="button"
										class="rounded-full border-2 border-white text-white leading-normal
										uppercase hover:bg-black hover:bg-opacity-5 focus:outline-none
										focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1">
										<svg aria-hidden="true" focusable="false" data-prefix="fab"
											data-icon="facebook-f" class="w-2 h-full mx-auto" role="img"
											xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
											<path fill="currentColor"
												d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06
												52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08
												44.38-121.08
												124.72v70.62H22.89V288h81.39v224h100.17V288z"></path>
										</svg>
									</a> <a href="#!" type="button"
										class="rounded-full border-2 border-white text-white leading-normal
										uppercase hover:bg-black hover:bg-opacity-5 focus:outline-none
										focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1">
										<svg aria-hidden="true" focusable="false" data-prefix="fab"
											data-icon="twitter" class="w-3 h-full mx-auto" role="img"
											xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
											<path fill="currentColor"
												d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583
												298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106
												8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568
												130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974
												12.995 1.624 19.818 1.624 9.421 0 18.843-1.3
												27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969
												7.797 30.214 12.67 47.431
												13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492
												5.197-37.36
												14.294-52.954 51.655 63.675 129.3 105.258 216.365
												109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934
												104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548
												46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827
												21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161
												39.308-52.628 54.253z"></path>
										</svg>
									</a> <a href="#!" type="button"
										class="rounded-full border-2 border-white text-white leading-normal
										uppercase hover:bg-black hover:bg-opacity-5 focus:outline-none
										focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1">
										<svg aria-hidden="true" focusable="false" data-prefix="fab"
											data-icon="google" class="w-3 h-full mx-auto" role="img"
											xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488 512">
											<path fill="currentColor"
												d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0
												256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6
												94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4
												140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"></path>
										</svg>
									</a> <a href="#!" type="button"
										class="rounded-full border-2 border-white text-white leading-normal
										uppercase hover:bg-black hover:bg-opacity-5 focus:outline-none
										focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1">
										<svg aria-hidden="true" focusable="false" data-prefix="fab"
											data-icon="instagram" class="w-3 h-full mx-auto" role="img"
											xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
											<path fill="currentColor"
												d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9
												114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1
												0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6
												74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9
												0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1
												27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9
												0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0
												184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1
												184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9
												2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6
												42.6-29.5 11.7-99.5 9-132.1 9s-102.7
												2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7
												9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9
												132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9
												99.5 9 132.1s2.7 102.7-9 132.1z"></path>
										</svg>
									</a> <a href="#!" type="button"
										class="rounded-full border-2 border-white text-white leading-normal
										uppercase hover:bg-black hover:bg-opacity-5 focus:outline-none
										focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1">
										<svg aria-hidden="true" focusable="false" data-prefix="fab"
											data-icon="linkedin-in" class="w-3 h-full mx-auto" role="img"
											xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
											<path fill="currentColor"
												d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0
												53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9
												448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69
												76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3
												94 0 111.28 61.9 111.28 142.3V448z"></path>
										</svg>
									</a> <a href="#!" type="button"
										class="rounded-full border-2 border-white text-white leading-normal
										uppercase hover:bg-black hover:bg-opacity-5 focus:outline-none
										focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1">
										<svg aria-hidden="true" focusable="false" data-prefix="fab"
											data-icon="github" class="w-3 h-full mx-auto" role="img"
											xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
											<path fill="currentColor"
												d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2
												2.3-3.6
												5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1
												5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2
												2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7
												4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0
												252c0
												110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1
												0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0
												0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9
												20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5
												7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27
												20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7
												34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9
												104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0
												6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5
												8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1
												1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9
												1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4
												35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1
												1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6
												3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9
												0-6.2-1.4-2.3-4-3.3-5.6-2z"></path>
										</svg>
									</a>
								</div>
							</div>

							<div class="text-center p-4"
								style="background-color: rgba(0, 0, 0, 0.2);">
								<!--! CREAR LOGIN ADMIN -->
								<span class="">©</span> 2022 Copyright: <a class="text-whitehite"
									href="https://tailwind-elements.com/">REUBICA LTDA</a>
							</div>
						</footer>






					</body>
					<!-- FINAL DE LA PAGINA  -->


					<!--TODO SCRIPT JS -->
					<script th:src="@{https://kit.fontawesome.com/a7ee2ea52b.js}"
						crossorigin="anonymous"></script>
					<!--TODO SCRIPT JQUERY -->
					<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"
						integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
					<script th:src="@{/js/main.js}"></script>
					<script type="text/javascript">
	$(document).ready(function() {

		$('#fileImage').change(function() {
			showImageThumbnail(this);
		});
	});

	function showImageThumbnail(fileInput) {
		file = fileInput.files[0];
		reader = new FileReader();

		reader.onload = function(e) {
			$('#thumbnail').attr('src', e.target.result);
		};

		reader.readAsDataURL(file);
	}
</script>
				</html>
